.google-visualization-tooltip{

    list-style: none!important;

    opacity: 0.9;
    min-width: 500px;
    

    

}
.google-visualization-tooltip-item
{
    list-style: none!important;
    position: relative;
    top: -3px;
    color: #707173!important;

    font-family: Helvetica, Arial, sans-serif;
}

.google-visualization-tooltip-item p
{
font-size: 18px;
}

.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child 
{
    display: none; 
}

#regions_div {
    width: 100%; height: 93vh; margin: 0 auto;
   }