.google-visualization-tooltip{

    list-style: none!important;

    opacity: 0.9;
    min-width: 600px;
    

}
.google-visualization-tooltip-item
{
    list-style: none!important;
    position: relative;
    top: -3px;
    color: #707173!important;

    font-family: Helvetica, Arial, sans-serif;
}

.google-visualization-tooltip-item p
{
font-size: 14px;
line-height: 15px;
}
.google-visualization-tooltip-item h1
{
font-size: 26px;
}

.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child 
{
    display: none; 
}

#regions_div {
    width: 100%; height: 93vh; margin: 0 auto;
   }


#mapNotation {

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        right: 50px;
  top:100px; 
  z-index:2;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;

    }

.activate-notation {
    top: 50px !important;
    right: 25px !important;
    scale: 0.8 !important;
    transform: scale(0.9);
}

.mt-100 {margin-top: 100px;}
.mt-50 {margin-top: 50px;}

.mb-100 {margin-bottom: 100px;}
.mb-50 {margin-bottom: 50px;}

.edit-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.edit-block-item {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.edit-block-item p {
    font-weight: bold;
}

.edit-block-item label {
    color: #404040;
    font-style: italic;
}

.update-button {
    opacity: 0;
    transition: opacity 2s; /* Transition should take 0.3s */
    -webkit-transition: opacity 2s; /* Transition should take 0.3s */
}

.edit-block-item:hover .update-button {
    opacity: 1;
}

.edit-block-item:hover {
    background-color: #DCDCDC;
}

.alert {
    font-size: 25px;
    margin-top: 20px;
}

.insert-button {
    position: fixed;
    top: 50%;
    right: 20%;
}
.insert-demo {
    position: fixed;
    top: 60%;
    right: 20%;
}

#map-tooltip {
    position: fixed;
    bottom: 100px;
    left: -300px;
    width: 300px;
    height: 250px;
    background-color: #fff;
    border: 1px solid black;
    z-index: 99999999;
    transition: all 0.5s;
    padding: 5px;
}

#map-tooltip h1 {
    font-size: 18px;
}

#map-tooltip p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.animate-map-tooltip {
    left: 15px !important;
}
.rmove-map-tooltip {
    left: -300px !important;
}

#closeMapButton {
    position: absolute;
    top: 0;
    right: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    z-index: 999999999;
}